---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=denver&term=california%20burrito
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ENV[Authorization]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4997'
      Ratelimit-Resettime:
      - '2021-06-30T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-b579557df-4z5l5; site=public_api_v3
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-159-220-useast1bprod
      X-Extlb:
      - 10-65-159-220-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "I39WpOEQedHG6vxckAXCuw", "alias": "carnitas-california-denver",
        "name": "Carnitas California", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/txNLR5W0AMYK8LIujMv9ZQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/carnitas-california-denver?adjust_creative=WZA9V3SlVgnlKw9rC1m8hw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WZA9V3SlVgnlKw9rC1m8hw",
        "review_count": 53, "categories": [{"alias": "mexican", "title": "Mexican"},
        {"alias": "breakfast_brunch", "title": "Breakfast & Brunch"}], "rating": 4.5,
        "coordinates": {"latitude": 39.6894800235338, "longitude": -104.991905875504},
        "transactions": [], "price": "$", "location": {"address1": "1470 S Santa Fe
        Dr", "address2": "Ste A", "address3": null, "city": "Denver", "zip_code":
        "80223", "country": "US", "state": "CO", "display_address": ["1470 S Santa
        Fe Dr", "Ste A", "Denver, CO 80223"]}, "phone": "+13039365234", "display_phone":
        "(303) 936-5234", "distance": 5444.809432714436}, {"id": "OIQh2YtOXjlKfWPx-t8iFA",
        "alias": "la-loteria-taqueria-denver", "name": "La Loteria Taqueria", "image_url":
        "https://s3-media2.fl.yelpcdn.com/bphoto/DKIXk92ySsCSvuOdeEpJBw/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/la-loteria-taqueria-denver?adjust_creative=WZA9V3SlVgnlKw9rC1m8hw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=WZA9V3SlVgnlKw9rC1m8hw",
        "review_count": 127, "categories": [{"alias":[...]
